<div class="col-xs-8" id="users-content">
  <div class="user-info">
    <% if notice %>
      <div class="alert alert-info">
        <%= notice %>
      </div>
    <% end %>
    <span class="user-name">
      <%= render_user_screen_name(@user) %>
    </span>
    <span class="user-id">
      <%= @user.name %>
    </span>
    <div class="bio">
      <%= @user.bio %>
    </div>
  </div>
</div>
